/* =========================================
   2. LAYOUT (Prefijo l-)
   Estructura mayor: Grillas, Contenedores, Header, Footer.
   ========================================= */

.l-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

.l-header {
    background-color: #fff;
    padding: 1rem 0;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    position: sticky;
    top: 0;
    z-index: 100;
}

.l-footer {
    background-color: #3e2723;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
    margin-top: 3rem;
}


.l-section {
  padding: 4rem 0;
}

/* Utilidad de Layout para Flexbox */
.l-flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Utilidad de Layout para Grid */
.l-grid-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
}
