/* =========================
LAYOUT.CSS
========================= */

.l-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 32px;
}

.l-header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.l-section {
    padding: 7rem 0;
}

.l-footer {
    padding: 5rem 0;
}

.l-grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3.5rem;
}

.l-flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
